In [1]:
!pip install pymongo
from pymongo import MongoClient
import pandas as pd
import hashlib

Requirement already satisfied: pymongo in /opt/anaconda3/lib/python3.12/site-packages (4.8.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/anaconda3/lib/python3.12/site-packages (from pymongo) (2.6.1)

In [2]:
atlas_client = MongoClient('mongodb+srv://ricardotassio:LabMongoDB__2024@cluster0.zelmvkd.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0')
db = atlas_client['stock_db']
collection = db['stocks']
metadata_collection = db['metadata']

In [3]:
def calculate_file_hash(file_path):
    hasher = hashlib.md5()
    with open(file_path, 'rb') as file:
        buf = file.read()
        hasher.update(buf)
    return hasher.hexdigest()

In [4]:
def file_already_loaded(file_hash):
    return metadata_collection.find_one({"file_hash": file_hash}) is not None

def save_file_metadata(file_path, file_hash):
    metadata = {
        "file_name": file_path,
        "file_hash": file_hash,
        "loaded_at": pd.Timestamp.now()
    }
    metadata_collection.insert_one(metadata)

In [5]:
def load_csv_to_mongodb(file_path):
    file_hash = calculate_file_hash(file_path)
    if file_already_loaded(file_hash):
        print(f"File {file_path} has already been loaded previously.")
        return
    
    df = pd.read_csv(file_path)
    collection.insert_many(df.to_dict('records'))
    save_file_metadata(file_path, file_hash)
    print(f"Data from the file {file_path} has been loaded successfully.")

In [6]:
## START The Process

In [7]:
csv_path = './all_stocks_5yr.csv'
load_csv_to_mongodb(csv_path)

Arquivo ./all_stocks_5yr.csv j√° foi carregado anteriormente.

In [8]:
def get_data_from_mongodb():
    data = list(collection.find())
    df = pd.DataFrame(data)
    return df

df_mongo = get_data_from_mongodb()
df_mongo.head()

,_id,date,open,high,low,close,volume,Name
0,66972da16ad46174a727aa84,2013-02-08,15.07,15.12,14.63,14.75,8407500,AAL
1,66972da16ad46174a727aa85,2013-02-11,14.89,15.01,14.26,14.46,8882000,AAL
2,66972da16ad46174a727aa86,2013-02-12,14.45,14.51,14.10,14.27,8126000,AAL
3,66972da16ad46174a727aa87,2013-02-13,14.30,14.94,14.25,14.66,10259500,AAL
4,66972da16ad46174a727aa88,2013-02-14,14.94,14.96,13.16,13.99,31879900,AAL